body{
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  background-color: #f3e5d9;
  .noscroll { overflow: hidden; }
}
body h1{
  font-size: 24px;
}
body h2{
  font-size: 20px;
}
.article{
  display: block;
}
.header{
  z-index: 9998;
  height: 50px;
  background-color: #ef8938;
  position:fixed;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navbar-brand{
  padding-left: 20px;
  justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
    align-items: center;
}


.navbar-brand img{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

.navbar-brand span{
  background-color: #77503d;
  color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
.navbar-brand img:hover, .navbar-brand span:hover{
  background-color: #faecd9;;
  color: black;
}
nav {
  /*padding: 1rem;*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*background-color: #ef8938;*/
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-top: 0;
    
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
nav li{
  
}
nav button{
  text-align: center;
}
nav a{
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    float: right;
    color: #faecd9;
    text-align: center;
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.8em;
}

nav a:hover {
    background-color: #faecd9;;
    color: black;
  }
  
  nav a:active {
    background-color: #000000;
    color: #faecd9;
  }
  .current-page{
    background-color: #77503d;
    color: white;

  }

.jumbotron{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 200px;
    background-color: #c88d5c;
    /*margin-top: 99px;*/
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    color: #faecd9;
    text-align: left;
    position:static;
}
.jumbotron-main-page{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/main-page/jumbotron-main.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.jumbotron-food{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/food/jumbotron-food.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.jumbotron-beauty{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/beauty-and-care/jumbotron-beauty.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.jumbotron-books{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/books/jumbotron-books.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.jumbotron-events{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/events/jumbotron-events.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.jumbotron-contact-page{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/contact-page/jumbotron-contact.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.introduction{
  
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.introduction img{
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  float: left;
}
.image{
  display: flex;
  align-items: center;
}
.text{
  font-size: large;
  margin: 20px auto;
  max-width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.menu{
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}


.menu ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding-inline-start: 0;
}


.menu li{
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15%;
  padding-bottom: 15%;*/
}
.menu.four-items li{
  width: 20%;
}

.menu.two-items li{
  width: 45%;
}

.menu a{
  color: #faecd9;
  text-decoration: none;
}

.menu a:hover{
  text-shadow:  #faecd9  1px 0 10px;;
}

.li-food{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/main-page/li-food.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.li-events{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/main-page/li-events.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.li-beauty{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/main-page/li-beauty.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.li-books{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/main-page/li-books.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.li-lectures{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/events/li-lectures.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.li-meetings{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/events/li-meetings.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}
.li-cafes{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/food/li-cafes.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.li-shops{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/food/li-shops.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.li-hair{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/beauty-and-care/li-hair.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.li-nail{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/beauty-and-care/li-nails.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.li-brow{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/beauty-and-care/li-brows.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.li-massage{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/beauty-and-care/li-massage.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.li-order{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/books/li-order.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.li-clubs{
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/books/li-clubs.png");
  background-color: rgba(239, 137, 56, 1);
  backdrop-filter: blur(4px);
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
}

.cookie{
  z-index: 9999;
  position: fixed;
  top: 100px;
  box-shadow: 2px 2px 10px #77503d;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #faecd9;
  border-radius: 5px;
  padding: 20px;
  max-width: 30%;
}
.cookie p{
  text-align: center;
  margin-top: 0;
}
.cookie a{
  padding: 5px;
  color: white;
  background-color: #77503d;
  border-radius: 5px;
  text-decoration: none;
}
.cookie:target{
  display: none;
}

.subpage{
  background-color: #faecd9;
  border-radius: 5px;
  border-color: #000000;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding-bottom: 30px;
}
.card article{
  padding: 0 30px;
}
.card h1, .card h2{
  margin: 0;
}
.card ul{
  list-style-position: inside;
}
.card li{
  margin-bottom: 10px;
}
.card article li a{
  color: #000;
  text-decoration: none;
}

.subpage subheader{
  justify-content: space-between;
  display: flex;
  
  box-sizing: border-box;
  height: 100px;
  background-color: #ef8938;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0;
  margin-bottom: 20px;
  font-size: 40px;
  color: black;
  text-align: left;
  position:static;
}
.overlay { 
  z-index: 9999;
  position: fixed; 
  overflow-y: scroll;
  background: rgba(119, 80, 61, 0.7);
  inset: 0; }


.overlay section {
  /* margin: 15vh auto;
  width: 80%;
  max-width: 650px;
  padding: 30px;
  min-height: 200vh;
  background: #faecd9; */
}


.subpage subheader article{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.subpage subheader section{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: 0;
  padding: 0;
}
.subpage button{
  background-color: #77503d;
  color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  text-shadow: none;
}
.subpage subheader a{
  text-decoration: none;
  font-size: 0.8rem;
  margin: 0;
  display: flex;
  align-items: flex-start;
  background-color: #77503d;
  color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
.card h1, .card h2{
  padding: 0;
}
.list h2{
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}


.company{
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border: 3px solid #77503d;
  margin: 20px;
  margin-top: 0;
  padding: 10px;
}
.photo{
  display: flex;
  align-items: center;
}
.description{
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  ;
}
.description p{
  margin-bottom: 0;
}
.description ul{
  margin: 0;
}
.company-name h1, .company-name p{
  margin: 0;
}
.company-name h1{
  font-size: 20px;
}
.company-name p{
  font-size: 12px;
}
.company-name a{
  color: #000;
  text-decoration: none;
}
.overlay:target {
  display: block;
  padding-bottom: 30px;
}

.overlay:not(:target) {
  display: none;
}


.contact-prompt{
  font-size: large;
  margin: 0px;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  
  flex-direction: column;

}

.contact-prompt p{
  display: flex;
  align-items: flex-start;
}
.contact-form{
  max-width: 65%;
  font-size: large;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(119, 80, 61, 0.7);
  background: linear-gradient(rgba(119, 80, 61, 0.7), rgba(119, 80, 61, 0.7)),url("../img/contact-page/contact-form-background.png");
  backdrop-filter: blur(4px);

  background-repeat: no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
  background-size: cover;
  border-radius: 5px;
}
.contact-form label{
  color: #faecd9;
}
.contact-form p{
  margin: 10px;
  padding: 10px;
  max-width: fit-content;
  background-color: rgba(239, 137, 56, 0.6);
  color: #faecd9;
  border-radius: 5px;
  }

.form-field{
  display: flex;
  flex-direction: column;
}

.options{
  display: flex;
  flex-direction: row;
}

input, textarea{
  border: #000000 solid 1px;
}
input[type='radio']:checked::before{
  filter: hue-rotate(270deg);
  box-shadow: 0 0 0 1px black;
  border: #000000 solid 1px;
  accent-color: black;
}


fieldset{
  border: 0;
  display: flex;
  flex-direction: column;
}
fieldset.option{
  height: fit-content;
  font-size: medium;
  font-weight: normal;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column-reverse;
}
fieldset.option label{
  font-weight: normal;
  margin-top: 5px;
}
fieldset label{
  padding-bottom: 10px;
  font-family: sans-serif;
}

fieldset input.mr{
  margin-left: 0;
}
fieldset.visitor-gender{
  padding-bottom: 0;
}
.send-button {
  background: #faecd9;
  color: #000000;
  border-style: outset;
  height: 50px;
  width: 100px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: large;
  text-shadow: none;
  border-radius: 5px;
  border: 1px solid #77503d;
  }



footer{
  height: 50px;
  background-color: #ef8938;
  margin: 0;
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.footer-brand{
  padding-left: 20px;
  justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    float: right;
    color: #faecd9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
    align-items: center;
    margin-left: 0;
}

.footer-brand img{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
}

.footer-brand span{
  color: black;
  margin: 10px;
  margin-left: 0;
  padding: 5px;
  border-radius: 5px;
}

footer h4{
  display: flex;
  align-items: center;
  margin-left: -20%;
}

footer p{
  padding-right: 10px;
  color: #faecd9;
  font: 0.5em sans-serif;
  display: flex;
  align-items: center;
}

.footer-brand img:hover, .footer-brand span:hover, footer h4 a:hover{
  background-color: #faecd9;;
  color: black;
}



footer a {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  margin: 10px;
  border-radius: 5px;
}