section{
    width: 800px;
    height: 800px;
    border: solid red 5px;
    display: grid;
    grid-template-columns: 50% auto auto auto;
    grid-template-rows: 75% auto;
}
article{
    background-color: blue;
    margin: 10px;
}